  <%= content_for(:navbar_class, "navbar-home") %>
  <div class="chatroom-background">
<svg class="chatroom" viewBox="0 0 591 1056" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M590.987 527.345C592.263 316.804 500 -10 500 -10V0H-19V1056H500V1046C500 1046 589.755 730.613 590.987 527.345Z" fill="url(#paint0_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="286" y1="-10" x2="286" y2="1056" gradientUnits="userSpaceOnUse">
<stop stop-color="#2F2FA2"/>
<stop offset="1" stop-color="#F64C72"/>
</linearGradient>
</defs>
<%= render 'shared/chatroom' %>
</svg>
  </div>

