// Define variables for your color scheme

$gray: #0E0000;
$light-gray: #F4F4F4;

$my-blue : #2F2FA2;
$my-red : #F64C72;
$my-yellow : #FEF7C1;
$my-purple : #8154EF;
$my-green : #49c5b6;

.background-red {
  background: linear-gradient($my-blue, $my-red);
  height: 100vh;
}


.background-blue {
  max-width: 60%;
  height: 100vh;
  background-color: #2F2FA2;
  vertical-align: middle;
}

.d-flex .background-red {
  background-color: #2F2FA2;
  height: 100vh;
  position: sticky;
  top: 0;
  background: linear-gradient($my-blue, $my-red);
}

.see-slot-color {
  background-color: $my-blue;
  color: white !important;
  padding-top: 90px;

}
