// Specific CSS for your home-page
.home-1 {
  display: flex;
  height: 100vh;
  align-items: center;
  background: linear-gradient($my-blue, $my-red);
  background-size: cover;
  justify-content: space-around;
}


.bottom-bar {
  width: 100vw;
  height: 112px;
}

.humaaans {
  height: 500px;
  padding-left: 100px;
}

.top-box {
  padding-left: 30px;
}


.top-box h1{
  color: white;
  font-size: 100px;
}

.top-box h2{
  color: white;
  font-size: 30px;
  padding-bottom: 12px;
}

.top-box-2 {
  padding-left: 30px;
  padding-top:
}

.top-box-2 h1{
  color: white;
  font-size: 100px;
}

.contents {
  height:90vh;
}

#cards img {
  height: 200px;
  object-fit:cover;
}

#cards h5 {
  font-size: 30px;
  color: $my-blue;
  padding-bottom: 20px;
}

.card-title {
  font-size: 30px;
  color: $my-blue;
}

.card-text {
  font-size: 20px;
}

.card-img {
  height: 200px;
  object-fit: cover;
  border: none;
  border-radius: 0px;
  margin: -1px;
}

.card-photos h5 {
  font-size: 20px;
  color: $my-blue;
}

.card-photos p {
  font-size: 18px;
}

.card-photos {
  border: none;
  border-radius: 0px;
}

.why-us h1 {
  color: $my-blue;
  font-size: 40px;
  margin: 70px 0;
}

.actuality h1 {
  color: white;
  font-size: 40px;
  margin:0;
}

#bouton-home:hover {
  background-color: white;
  color: $my-red;
  border:none;
  transition: all 0.5s ease;
}

#bouton-home {
  color: white;
  background-color: $my-blue;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease;
  border: none;
}

.top-bar {
  width: 100vw;
}

.bottom-bar-2 {
  width: 100vw;
}

#my-cards {
  background-color:#2F2FA2;
}


