
.avatar-card {
  padding: 30px;
}

.avatar-shadow {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
}

.fond-show {
  background-color: $my-blue;
  padding-top: 100px;
}

.coach-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-elements: center;
}

.card-coach {
  width: 60vw;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  h3, p {
    text-align: justify;
  }
}

.redbar {
  width: 15px;
  border-bottom: 2px solid #ff4338;
  border-radius: 1px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.coach-right {
  position: sticky;
  top: 0;
}

.sticky {
  position: sticky;
  top: 0;
}

.coach-main {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.coach-info {
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;

}

.coach-calendar {
  width: 200px;
  height: 160px;
  object-fit: cover;
  padding: 15px;
}

#calendar-visitor {
    width: 200px;
    margin: 0 auto;
    font-size: 10px;
}
