<div id="calendarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 id="modalTitle" class="text-center"></h4>
      </div>
      <div id="modalBody" class="modal-body d-flex align-items-center">
        <div id="modalBodyImage" class="ml-3">
        </div>
        <div id="modalBodyText" class="ml-4">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Supprimer la réservation</button>
        <button type="button" class="btn btn-info" href="">Mon client</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
