<!-- I - 3 cartes côte à côte, divisée en deux : une photo en haut, du texte en bas -->


<div class="container">

  <div class="contents">

    <div class="why-us text-center">
      <h1>Pourquoi Find a Way ?</h1>
    </div>

    <div class="card-deck">

      <div id="cards", class="card">
        <img src="../../assets/photo-card-6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Pour tous !</h5>
          <p class="card-text">Quel que soit votre âge, votre niveau d'étude et votre expérience, trouvez le coach de vos rêves.</p>
        </div>
      </div>

      <div id="cards", class="card">
        <img src="../../assets/photo-card-7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Le suivi</h5>
          <p class="card-text">Nos coachs sont des professionnels aguerris, qui mettront tout en oeuvre pour vous aider dans vos recherches.</p>
        </div>
      </div>

      <div id="cards", class="card">
        <img src="../../assets/photo-card-8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">95% de reconversion</h5>
          <p class="card-text">95% des personnes que nos coachs accompagnent retrouvent un emploi dans le domaine qu'elles souhaitaient.</p>
        </div>
      </div>
    </div>
  </div>


<!-- II - Cartes allongées avec photos sur la gauche et texte sur la droite -->

<div class="why-us text-center">
      <h1>Nos actualités</h1>
  </div>

  <div class="card-photos">
    <div class="card my-5";>
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="../../assets/photo-card-1.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Où travaillerons-nous dans 20 ans ? </h5>
            <p class="card-text">Retour sur le salon de l'innovation de Hong-Kong où ont été présentés des espaces de travail particulièrement novateurs.</p>
            <a href="#" class="text-muted">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card-photos">
    <div class="card my-5";>
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="../../assets/photo-card-2.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">En Suède, des bureaux au coeur de la nature</h5>
            <p class="card-text">Les pays scandinaves, ultra-novateurs dans le bien-être au travail, nous surprennent de nouveau avec cette nouvelle façon d'exercer son activité professionnelle.</p>
            <a href="#" class="text-muted">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-photos">
    <div class="card my-5";>
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="../../assets/photo-card-3.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">L'importance de l'esthétisme et des couleurs dans notre environnement de travail</h5>
            <p class="card-text">Des chercheurs ont récemment démontré que notre efficacité au travail était largement liée à notre cadre de travail.</p>
            <a href="#" class="text-muted">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-photos">
    <div class="card my-5";>
      <div class="row no-gutters">
        <div class="col-md-2">
          <%= image_tag 'photo-card-4.png', class: 'card-img' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Le numérique devance largement les géants de l'imprimerie : 40% de perte d'emploi dans le secteur</h5>
            <p class="card-text">Retour sur une transition numérique qui fait mal aux grands acteurs de l'imprimerie</p>
            <a href="#" class="text-muted">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-photos">
    <div class="card my-5";>
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="../../assets/photo-card-5.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Les femmes au travail : une place encore mal assurée. </h5>
            <p class="card-text">Les inégalités salariales restent criantes dans certains secteurs, notamment ceux de l'ingénieurie.</p>
            <a href="#" class="text-muted">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
