<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
 <div class="banner-content text-center">
   <h1>Change your life: Find your path</h1>
   <p>Find Way brings soft skills to innovative people</p>
   <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
 </div>
</div>

<h1>Pages#home</h1>
<div class="btn btn-primary">Hello</div>
<p>Find me in app/views/pages/home.html.erb</p>
<button type="button" id="btn-circle" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<div class="btn-group" role="group" aria-label="Basic example">
 <button type="button" class="btn btn-secondary">Left</button>
 <button type="button" class="btn btn-secondary">Middle</button>
 <button type="button" class="btn btn-secondary">Right</button>
</div>
<br>
<br>
<br>
<br>


<div class="card" style="width: 18rem;">
 <img src="..." class="card-img-top" alt="...">
 <div class="card-body">
   <h5 class="card-title">Card title</h5>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <a href="#" class="btn btn-primary">Go somewhere</a>
 </div>
</div>

<br>
<br>
<br>
<br>

<div class="card">
 <div class="card-body">
   This is some text within a card body.
 </div>
</div>

<br><br>

<div class="row">
 <div class="col-sm-6">
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Special title treatment</h5>
       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
       <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
   </div>
 </div>
 <div class="col-sm-6">
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Special title treatment</h5>
       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
       <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
   </div>
 </div>
</div>

<br><br>

<div class="card text-center">
 <div class="card-header">
   <ul class="nav nav-tabs card-header-tabs">
     <li class="nav-item">
       <a class="nav-link active" href="#">Active</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Link</a>
     </li>
     <li class="nav-item">
       <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
     </li>
   </ul>
 </div>
 <div class="card-body">
   <h5 class="card-title">Special title treatment</h5>
   <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
   <a href="#" class="btn btn-primary">Go somewhere</a>
 </div>
</div>
