.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid;
  display: inline-block;
  position: relative;
}

.avatar-large {
  width: 120px;
  margin-right: 30px;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-index {
  border: 1px solid white !important;
  width: 80px !important;
  height: 80px !important;
  background: white !important;                         /* White background */                            /* Internal space */                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1) !important;
}
