.client-bookings {
  background: linear-gradient($my-blue, $my-red);
  padding-top: 100px;
  min-height: 100vh;
  h2 {
    color: white;
    text-align: center;
  }
}

#futur-bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#past-bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.booking-card {
  width: 450px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.booking-card-text {
  width: 200px;
  padding-top: 14px;
  color: $my-blue;
}


.booking-card-img .img{
  padding-top: 11px;
  border-radius: 50px;
}

.humaaans2 {
  height: 500px;
  margin-top: 260px;
  z-index: -1;
  margin-left: 150px;
}

.booking-card-img img {
  border-radius: 50px;
}

.planning {
  display: flex;
  height: 82vh;
  align-items: center;
  background: linear-gradient($my-blue, $my-red);
  background-size: cover;
  justify-content: space-around;
}
.bottom_pink {
  width: 100vw;
  z-index:-1;
}

#card-deck-center {
  margin: 0px;
  justify-content: center;
}

#contents-cards {
  height:auto;
}

.planning .top-box {
  padding-top: 60px;
}

