.btn {
  border-radius: 0px;
  margin: 10px;
}

.btn-primary {
  border: 2px solid $my-red;
  color: white;
  background-color: $my-red;
}

.btn-primary:hover {
  background-color: white;
  color: $my-red;
  font-weight: bold;
  border: 2px solid $my-red;
}

.btn-danger {
  color: $my-blue;
}

.btn-danger:hover {
  color: $my-red;
  border: 2px solid $my-red;
  background-color: $my-blue;
  }
