

.fc-title {
  font-size: 10px;
}

.fc-widget-content .fc-content .fc-time {
  span {
  font-size: 10px;
  }
}

.fc-time-grid .fc-slats td {
  height: 2.8em!important;
}

.fc-time-grid-event .fc-event .fc-start .fc-end {
  background-color: $my-red!important;
}
