#calendar-visitor {
  background-color: white;
  width: 300px;
}

#calendar-coach {
  position: sticky;
  top: 0;
}

.fc-title {
  font-size: 10px;
}

.fc-time {
  span {
  font-size: 8px;
  }
}

.fc-time-grid .fc-slats td {
  height: 2.5em!important;
}
