
.card-index {
  background: white;                         /* White background */
  padding: 30px;
  margin:30px;                            /* Internal space */                  /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  height: 300px;
  width: 400px;
  border-radius: 4px;
}

.card-booking {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.card-font {
  font-size: 12px;
  color: $my-red;
  font-weight: bolder;
}

.font-helve {
  font-family: helvetica;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.index-info-calendar {
  width: 100%;
}

.info-metier {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  p {
    font-size: 15px;
  }
}

.card-index:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid $my-red;
  box-shadow: 0 10px 10px rgba(0,0,0,0.22);
}

.card-index img {
  width: 50;
}
// I - 3 cartes côte à côte, divisée en deux : une photo en haut, du texte en bas.

.contents {
  height:90vh;
}

.colorbar {
  width: 15px;
  border-bottom: 2px solid $my-red;
  border-radius: 1px;
  margin-bottom: 10px;
}

// I- carte avec photo en haut et texte en bas
.why-us h1 {
  color: $my-blue;
  font-size: 40px;
  margin: 70px 0;
}


#cards img {
  height: 200px;
  object-fit:cover;
}

#cards h5 {
  font-size: 30px;
  color: $my-blue;
  padding-bottom: 20px;
}

#cards {
  border-radius: 4px;
}

.card-title {
  font-size: 30px;
  color: $my-blue;
}

.card-text {
  font-size: 20px;
}

// II - Cartes allongées avec photos sur la gauche et texte sur la droite


.why-us h1 {
  color: $my-blue;
  font-size: 40px;
  margin: 70px 0;
}


.card-title {
  font-size: 30px;
  color: $my-blue;
}

.card-text {
  font-size: 20px;
}

.card-img {
  height: 190px;
  object-fit: cover;
}

.card-photos h5 {
  font-size: 20px;
  color: $my-blue;
  border-radius: 0px;
  padding-bottom: 20px;
}

.card-day-date {
  h4 {
    color: white;
    font-size: 20px;
  }
}

.card-photos p {
  font-size: 18px;
}

.booking-card {
  background: white;                         /* White background */
  padding: 8px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top: 5px;
}

.card-booking-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-coach {
  display: flex;
  justify-content: space-between;
}

// card in booking for client
.card-day {
  background-color: white;                         /* White background */
  padding: 10px;
  border-radius: 4px;                            /* Internal space */                       /* Small radius */
  margin: 2rem;
  margin-left: 0;
  color: $my-blue;
  .btn {
    border-radius: 4px !important;
    border: 2px solid $my-red;

  }
  h4 {
    color: $my-blue;
  }
}

.card-portrait {
  width: 35vw;
  padding-left: 30px;
  background: transparent;                         /* White background */
  border-radius: 4px;                        /* Small radius */
  margin: 2rem;
  margin-left: 0;
}

