.form-login {
  margin-top: 100px;
  border-radius: 3px;
  color: white;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    color: white;
    margin: 0px !important;
    margin-bottom: 30px;
  }
  a {
    color: white;
  }
}


select {
  text-decoration: none;
  border-bottom: 3px solid $my-blue;
  border-top: none;
  border-left: none;
  border-right: none;
}

.coach-book {
  position: absolute;
  width: 100vw;
}

.confirmation {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.form-actions {
  margin-bottom: 30px !important;
  text-align: center;
}

