.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  color: white;
  margin: 30px;
}


.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  z-index: 999;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.nav-link {
  font-weight: bold;
}

.logo {
  width: 60px;
  color: white;
}

.logo:hover {
  transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.nav-item {
  color: white;
  h5 {
    line-height: 2.5 !important;
     color: $my-blue;
     font-size: 14px;
    text-shadow: 1px 1px 2px $my-blue;
    color: rgba(20,20,20,0.8);

  }
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $my-red;
}

.avatar-nav {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  z-index: 1;
}

label .hamburger:after, label .hamburger:before {
  background: white !important;
}


label {
  .menu {
    position: absolute;
    right: 0px;
    top: -100px;
    z-index: 100;
    width: 128px;
    height: 200px;
    margin: 30px;
    // background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    // box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: white;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      background: white;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  input {
    display: none;
  }
  input:checked + .menu {
    // box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    .hamburger {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked + .menu + ul {
    opacity: 1;
  }

  ul {
    z-index: 200;
    position: absolute;
    justify-content: flex-end;
    top: 72px;
    left: 65%;
    width: 56%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
    display: flex;
  }

  li {
    list-style: none;
  }

  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}


label .hamburger:after, label .hamburger:before {
  color: white;
}

// h1 {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   width: 80%;
//   text-align: center;
// }

